* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  display: flex; /* Flexbox kullanımı */
  font-family: 'Roboto', sans-serif;
  background-color: white;
  width: 100%;
  transition: background-color 0.3s, color 0.3s;
  color: black;
}

.dark-mode {
  background-color: black; 
  color: white; 
}
.container {
  display: flex;
  width: 95%;
  margin: 0 auto;
  padding: 50px 0;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-left: 2rem;
  margin-bottom: 20px;
}

h2 {
  margin-left: 2rem;
  font-size: 2rem;
  font-weight: bold;
  ;margin-bottom: 10px;
}
h3 {
  font-size: 2rem;
  font-weight: bold;
  color: blue;
  margin-bottom: 10px;
}
h4 {
  font-size: 1rem;
  font-weight: bold;
  
  margin-bottom: 13px;
}

h6 {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  margin-bottom: 13px;
}
p {
  font-size: 1rem;
  line-height: 1.5;
  margin-left: 1rem;
  margin-bottom: 13px;
}
p2{
  color: white;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: yellow;
}

.skills {
 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  width: 100%;
}

.skill {
  
  width: 29%;
  padding: 20px;
  
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s;
}

.profile {
  display: flex;
 
  
}


.projects {
  margin-bottom: 50px;
}

.project {
  margin-bottom: 20px;
  padding: 20px;
 
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s;
}


.footer {
  display: inline;
  text-align: center;
  padding: 20px 0;
  
  font-weight: bold;
}
.footers{
  display: block;
  font-weight: bold;
}